<div class="layui-row layui-bg-green" >
    <div class="layui-col-md2 layui-col-sm12" style="height:100%">
        <a href="/">
            <li class="center" style="padding-top:20px;margin-left: 10px"><img src="/static/admin/images/hbjkjtyy.png"  style="width: 100%;line-height: 60px" /></li>
        </a>
    </div>
    <div class="layui-col-md7 layui-hide-sm layui-hide-xs layui-show-md-block">
        <ul class="layui-nav layui-bg-green " >
            <li class="layui-nav-item layui-this"><a href="">文章</a></li>
            <li class="layui-nav-item"><a href="">知识</a></li>
            <li class="layui-nav-item"><a href="">通知</a></li>
            <li class="layui-nav-item"><a href="">公告</a></li>
        </ul>
    </div>
    <div class="layui-col-md3 layui-hide-sm layui-hide-xs layui-show-md-block">
        <ul class="layui-nav layui-bg-green " >
            <li class="layui-nav-item"><button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"><i class="layui-icon  layui-icon-edit"></i>写文章</button></li>
            <li class="layui-nav-item">
                <a href=""><img src="__STATIC__/admin/images/header.jpg" class="layui-nav-img">蔡明明 <span class="layui-hide-md">【信息科】【管理员】</span></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>