<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>办公助手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="__STATIC__/plugs/html5.min.js"></script>
    <script src="__STATIC__/plugs/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="__STATIC__/plugs/layui-v2.5.6/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/common/css/global.css" media="all" >
    <script src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="__STATIC__/plugs/layui-v2.5.6/layui.js" charset="utf-8"></script>



